<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxchao.app">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SurfaceViewActivity" android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.GiftActivity" />
        <activity android:name=".ui.activity.GridActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.Main5Activity" />
        <activity android:name=".ui.activity.Main3Activity" />
        <activity android:name=".ui.activity.Main4Activity" />
        <activity android:name=".ui.activity.SpringBackActivity" />
        <activity android:name=".ui.activity.RootActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GridRecyclerViewActivity"
            android:launchMode="singleInstance">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:windowSoftInputMode="adjustPan"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>